body{
    background-color: #fbfafe;
    color:currentColor;
}
.banner{
    background: url(Banner_2_IMG_0513.jpg);
    height:700px;
    color: whitesmoke;
    
    background-image: -moz-linear-gradient();margin-bottom:auto; 
    
   
}
.banner h1{
    padding-top: 250px;
}
.banner-text h2{
    padding-top: 40px;
    padding-left: 50px;
    
    
    font-size: 30px;
    font-weight:100px;
    font-style: italic;
        
}
.banner-text h3{
    padding-top: 80px;
    padding-right: 30px;
    font-weight: 300;
    
}
.reveal{
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease-in-out, transform 1s ease;

}
.reveal.active{
    opacity:1;
    transform: translateY(0);
    
}
.about{
    background-color: #e6f6f2;
    height: 400px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:80px 10px;
    min-height: 500px;
    gap:60px;
    
    
}


.about-text{
    flex:1;
    
    
}
.about-text h2{
    margin-top: 40px;
    margin-bottom: 50px;
    padding-top: 50px;
    
}
.about-text p{
    font-size: 20px;
    line-height: 1.7;
    max-width: 500px;
    padding-left: 140px;
    
   
}
.about-image{
    flex:1;
    display:flex;
    justify-content: center;
    
}
.about-image img{
   
    
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    
}
.skills{
    display:flex;
    justify-content: center;
    align-items: center;
    
    background-color: #3a523a;
    color: whitesmoke;
    
    height:650px;
}
.skills-section{
    padding-left: 30px;
    display:flex;
    gap: 2rem;}


.technical-skills-section-left,
.soft-skills-section-right{
    flex: 1;
}


.certifications{
    background-color: #e6f6f2;
    color: #0a0000;
    height: 300px;
    padding-top: 40px;
    padding-left: 40px;
}
h1{
    font-family:'Times New Roman';
    font-size: 50px;
    
    
    
}